name: Fog Meme
on:
  schedule:
    - cron: "*/5 * * * *"
jobs:
  send:
    name: send memes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install -r requirements.txt
      - run: python main.py
